
 <p>
 <%unless current_user.nil? %>
 <%= link_to 'NEW POST', new_post_path %>
 <%end%>
 </p>
 <br>

<div id="articles">
<% for article in @posts %>
  <h2>
    <%= link_to h(article.title), article %>
  </h2>
  <div class="author" style="color: red">from <%= User.find_by(id: article.user_id).name%> </div>
  <div class="description"><%= simple_format(article.description) %></div>
  
<% end %>
</div>
