 
<div class="container">
  <div class="row">
      <div class="col-md-4">
          <h3>Chuyển Nhượng</h3>
            <!-- Carousel
            ================================================== -->
                  
                    <figure class="item active">
                        <img class="thumbnail" src="http://placehold.it/300x200/" alt="slide1">
                    </figure>
                    <figure class="item">
                        <img class="thumbnail" src="http://placehold.it/300x200/" alt="slide2">                                   
                     </figure>  
                    <figure class="item">
                        <img class="thumbnail" src="http://placehold.it/300x200/" alt="slide3">
                    </figure>                                                                                   
      
</div>
