  
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <p>Copyright &copy; Ruby on Rails Website 2015</p>
                 </div>
</div>
</div>
           
 